extends layout.pug

block content 
  head
    title Page Not Found
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body.nothing
    p
      a.button(href='/') Home
    h1= err.message
    h2= err.status + " error"
    pre #{err.stack}
    
